body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    direction: rtl;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
ul
{
    margin: 0;
    padding: 0;
}
header
{
    background: black;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 5px solid;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}
header li{
    float: right;
    display: inline;
    padding: 0  20px 0 20px;
}
header #brand{
    float: right;

}
header #brand h1{
    margin: 0;
    color: #32a0c2;
}
header nav{
    float: left;
    margin-top: 10px;
}
header .current a{
    color: #32a0c2;
    font-weight: bold;
}
header a:hover{
    color: white;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:  url("../images/d73ad14b3344078797b4ecf76ba25420.jpg") no-repeat center;
    background-size: cover;
}
#newsletter{
    padding: 15px;
    color: white;
    background: #353637;
}
    #newsletter h1{
float: right;
    }
#newsletter form{
    float: left;
    margin-top: 15px;
}
#newsletter  input[Type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button{
    height: 38px;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}
   #boxes{
    margin-top: px;
   } 
#boxes .box{
    float: right;
    text-align: center;
    width: 30%;
    padding: 10px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #32a0c2;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
@media(max-width:768px){
    header #brand,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    {
        float: none;
        text-alingn:center;
        width: 100%;
    }

header{
    padding-bottom: 20px;
}
#newsletter button{
    display: block;
    width: 100%;
}
#newsletter form input[type="email"]{
    width:100% ;
    margin-bottom: 5px;
}
}